<!--
  The footer that appears at the bottom of every page.
-->

        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4" style="text-align:center;padding:4px;">
<img src="/img/csc_inv_140.png" style="100px;">
                    </div>

                    <div class="col-sm-4" style="padding:4px;">
                        <p class="copyright">
                            <span style="font-size:15px;">
                            &copy; <a href="#about">Cambridge Science Centre 2015.</a>
                            </span>
                        </p>

                        <p class="copyright">
                            For more information about MeteorPi, <a href="#about">click here</a>.<br/>
                            Website designed by Dominic Ford &amp; Tom Oinn.<br/>
                        </p>
<p class="copyright">
Top banner image courtesy of Markus Lubjuhn.
</p>
                    </div>
                    <div class="col-sm-4" style="padding:4px;">
<p class="copyright">
                    <a href="#">Home</a><br />
                    <a href="#whattodo">What to do</a><br />
                    <a href="#skysearch">Search the sky</a><br />
                    <a href="#status">Cameras</a><br />
                    <a href="#projects">Projects</a><br />
                    <a href="#faqs">FAQs</a><br />
                    <a href="#about">About MeteorPi</a>
</p>
                       </div>
                    </div>
                </div>
            </div>
        </div>

