<!--
  The footer that appears at the bottom of every page.
-->

<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-2" style="text-align:center;padding:4px;">
            </div>

            <div class="col-sm-4" style="padding:4px;">
                <p class="copyright">
                            <span style="font-size:15px;">
                            &copy; <a href="#about">Cambridge Science Centre 2016.</a>
                            </span>
                </p>

                <p class="copyright">
                    For more information about Meteor Pi, <a href="#about">click here</a>.<br/>
                    Website designed by Dominic Ford &amp; Tom Oinn.<br/>
                </p>

                <p class="copyright">
                    Top banner image courtesy of Markus Lubjuhn.
                </p>
            </div>
            <div class="col-sm-6" style="padding:4px;">
                <p class="copyright">Contact us via</p>

                <div style="display:inline-block;text-align:center;padding:3px 10px;">
                    <a href="https://www.facebook.com/meteorpicamera/">
                        <div class="mp-img mp-img-fb"></div>
                        <br/>Facebook</a>
                </div>
                <div style="display:inline-block;text-align:center;padding:3px 10px;">
                    <a href="https://twitter.com/meteorpi">
                        <div class="mp-img mp-img-tweet"></div>
                        <br/>Twitter</a>
                </div>

            </div>
        </div>
    </div>
</div>
</div>

