<div class="col-md-3">
    <p>Available Cameras</p>
    <select class="form-control"
            data-bind="options: cameras, value: selectedCamera, event: { change:setCamera }"></select>
</div>
<div data-bind="if: status" class="col-md-9">
    <p>Status for selected camera</p>
    <table class="table table-bordered">
        <tbody>
        <tr>
            <th>Installation</th>
            <td>
                <table class="table table-condensed">
                    <tr>
                        <td data-bind="text: status().inst_name"></td>
                    </tr>
                    <tr>
                        <td><a data-bind="text: status().inst_url, attr : { href: status().inst_url }"></a></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <th>Camera ID</th>
            <td><span data-bind="text: selectedCamera"></span></td>
        </tr>
        <tr>
            <th>Sensor</th>
            <td><span data-bind="text: status().sensor"></span></td>
        </tr>
        <tr>
            <th>Lens</th>
            <td><span data-bind="text: status().lens"></span></td>
        </tr>
        <tr>
            <th>Location</th>
            <td>
                <table class="table table-condensed">
                    <tr>
                        <th>Lat</th>
                        <td><span data-bind="text: status().location.lat"></span></td>
                    </tr>
                    <tr>
                        <th>Long</th>
                        <td><span data-bind="text: status().location.long"></span></td>
                    </tr>
                    <tr>
                        <th>Error</th>
                        <td><span
                                data-bind="text: status().location.error"></span> m
                        </td>
                    </tr>
                    <tr>
                        <th>GPS</th>
                        <td><span
                                data-bind="text: status().location.gps"></span></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <th>Orientation</th>
            <td>
                <table class="table table-condensed">
                    <tr>
                        <th>Altitude</th>
                        <td><span data-bind="text: status().orientation.alt"></span></td>
                    </tr>
                    <tr>
                        <th>Azimuth</th>
                        <td><span data-bind="text: status().orientation.az"></span></td>
                    </tr>
                    <tr>
                        <th>Error</th>
                        <td><span data-bind="text: status().orientation.error"></span></td>
                    </tr>
                    <tr>
                        <th>Rotation</th>
                        <td><span data-bind="text: status().orientation.rot"></span></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <th>Field of view width</th>
            <td><span data-bind="text: status().orientation.width"></span> degrees</td>
        </tr>
        <tr>
            <th>Software version</th>
            <td><span data-bind="text: status().software_version"></span></td>
        </tr>
        <tr>
            <th>Status valid from</th>
            <td><span data-bind="text: new Date(status().valid_from*1000)"></span></td>
        </tr>
        </tbody>
    </table>
</div>