<h2>Frequently asked questions</h2>

<h3>What are shooting stars?</h3>

<p class="text">
    Shooting stars appear when pebble-sized lumps of space rock crash into the Earth. Because they are travelling so
    fast, they burn up when they hit our planet’s atmosphere, leaving a fiery trail across the sky.
</p><p class="text">
    Millions of shooting stars appear around the world every day. The Solar System is teeming with rocky fragments of
    material which never stuck together to form planets, and astronomers estimate that over 100 tonnes of this material
    collides with the Earth every day.
</p><p class="text">
    Thankfully, the vast majority of it burns up at an altitude of over 50 miles, posing no hazard to anyone on the
    ground.
</p><p class="text">
    By recording videos of these rocks burning up, we can count how many of them there are. By comparing videos seen
    from multiple locations in East Anglia, we can triangulate the exact altitude and trajectory of each shooting star,
    telling us where each one came from.
</p><p class="text">
    Eventually, MeteorPi will allow us to trace out how space rocks are distributed through the Solar System.
</p>

<h3>Why are many MeteorPi images blank?</h3>

<p class="text">
    Our cameras observe from nightfall until dawn every day, even when the weather is bad.
</p><p class="text">
    In the UK, most places have clear skies on one night in three, so roughly two thirds of MeteorPi images show cloudy
    skies.
</p><p class="text">
    Around twilight, the images often appear completely white. This is because we use very sensitive cameras that are
    designed to
    see faint stars on dark nights. When the sun comes up, they're often completely overwhelmed by the amount of light
    they see!
</p>

<h3>Why are the pictures black and white?</h3>

<p class="text">
    When we designed the MeteorPi cameras, our priority was make them as sensitive as possible to very faint objects in
    the night sky.
</p><p class="text">
    Colour cameras are much less sensitive than black-and-white ones. They have an array of light-sensitive elements
    inside them, each of which sits behind
    filter which makes it sensitive to only one colour. Any green light which falls on a red pixel, for example, isn't
    detected.
</p><p class="text">
    Black-and-white cameras have at least twice the sensitivity of color cameras, because they don't have any filters
    inside.
</p><p class="text">
    So, although this makes the pictures slightly less pretty, it means we can see stars that would be invisible to a
    colour camera.
</p>
