<h2>About MeteorPi</h2>

<p class="text">MeteorPi was developed by Cambridge Science Centre as part of its 2015-16 Cosmic Exhibition. The hardware designs and software used by the
    MeteorPi cameras is all open source, and can be found on our <a href="https://github.com/camsci/meteor-pi">GitHub pages</a>.
</p>

<h3>The MeteorPi Team</h3>

<table class="developers">
    <tr>
        <td>Lead Developer</td>
        <td>Dominic Ford</td>
    </tr>
    <tr>
        <td>Data Transport</td>
        <td>Tom Oinn</td>
    </tr>
    <tr>
        <td>Hardware Design</td>
        <td>Dave Ansell</td>
    </tr>
</table>

<h3>Supporters</h3>

<p>The development of MeteorPi was made possible thanks to generous support from:</p>

<div class="row supporters">
 <div class="col-sm-6">
            <img src="img/rpi_logo.png" alt="The Raspberry Pi Foundation"
                 title="The Raspberry Pi Foundation"/>
<br />
            The Raspberry Pi Foundation
</div>
 <div class="col-sm-6">
            <img src="img/Mathworks.jpg" alt="MathWorks" title="MathWorks"/>
<br />
            MathWorks
</div>
</div>

<h3>Join the MeteorPi Network!</h3>

<p class="text">
    In addition to the activities suggested on this website, you're also welcome to try building your own
    camera, or to modify the software used to make observations.
</p>

<p class="text">
    You can find a complete guide to how to build your own camera on our
    <a href="https://github.com/camsci/meteor-pi">GitHub pages</a>.
</p>

<p class="text">
    All of the software that MeteorPi uses is open source, meaning that you're free to download and modify
    it. If you manage to improve it, we'd be delighted to share your changes with other users!
</p>

<p class="text">
    If you'd like to get involved, why not get in touch with us via <a
        href="https://www.facebook.com/meteorpicamera/">Facebook</a>
    or <a href="https://twitter.com/meteorpi">Twitter</a>?
</p>

