#page {
    margin-top: 10px;
}

// CSC colours

@dark_purple: #932386;
@medium_purple: #ed028c;
@light_purple: #f4a3c8;
@light_blue: #c9e8e6;
@medium_blue: #78cdd2;
@dark_blue: #62b7cd;
@vdark_blue: @dark_blue * 0.8;
@dark_red: #c42034;

h2 { margin:12px 0; border-bottom: 1px solid #aaa; padding: 4px 0; }
h3 { padding: 30px 0 10px 0; font-size:20px; color:#888; border-bottom: 1px solid #ddd; clear: both; }
h4 { padding-top: 30px; }
h5 { padding-top: 20px; color: #777; font-size:19px; font-weight: normal; }

table.table table.table > tbody > tr > * {
    border: none;
    margin-top: 0;
    padding-top: 0;
    padding-right: 20px;
}

table.table table.table > tbody > tr > *:first-child {
    border: none;
    margin-top: 0;
    padding-top: 0;
    padding-right: 20px;
    padding-left: 0;
}

table.table table.table > tbody > tr:last-child > * {
    border: none;
    margin-top: 0;
    padding-top: 0;
    padding-right: 20px;
    padding-bottom: 0;
}

table.table table.table {
    margin-bottom: 0;
    width: 0;
}

.defaultsink {
    position: absolute;
    left: -100%;
}

.btn .glyphicon {
    margin-right: 8px;
}

.btn.btn-icon .glyphicon {
    margin-right: 0;
}

.modal {
    display: block;
}

.modal-body:before,
.modal-body:after {
    display: table;
    content: " ";
}

.modal-header:before,
.modal-header:after {
    display: table;
    content: " ";
}

.modal .alert {
    margin-left: 16px;
    margin-right: 16px;
}

.form-value {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
}

.in>.modal {
    display: block !important;
}

.in>.modal.modal-fullsize>.modal-dialog {
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
}

.pointer { cursor:pointer;}
.position_relative { position:relative; top:0; left:0; }

select.slt { box-shadow: 3px 3px 2px #e0e0e0; padding:2px; border: 1px solid #aaa; background-color:#fff; border-radius: 2px; margin: 2px; }

// Basic styling
div.contentwrapper p { max-width:500px; }
div.contentwrapper p.centred { margin: 14px auto }
div.contentwrapper p.smtext { margin: 0; }

/* Float right images */
.rightimg { clear:both;float:right;margin:12px;text-align: center; width:400px; color: @dark_purple; font-weight:bold; box-sizing: content-box; }
.rightimg img { width: 400px; }

/* Tweak navbar colours and spacing */
.navbar-inverse { border: 0; }
.paging-holder { margin:0 auto; text-align: center; padding-top:25px; }
.paging-header { vertical-align:middle; display:inline-block; font-size:18px; padding:15px; }
.paging-nav { vertical-align:middle; display:inline-block; float:none; } /* Fix to make navbar centred */

.paging-nav .active { font-weight: bold; display:inline-block;background-color: #eee; }

/* Tweak tooltips */
.form-group-dcf { display: inline-block; }
.tooltip-inner { min-width:300px; max-width:400px; font-size: 14px; padding: 5px; }
.tooltip-holder { padding-top: 16px; }

/* Top banner formatting */
.bannerback { position:relative; top:0; left:0; width:100%; height: 240px; background-color: #000000; padding: 0; margin:0 0 15px 0; border: 0; border-bottom: 0 solid #222; overflow:hidden; }

.banner { position:relative; top:0; left:0; color: #eee; max-width: 1170px; height: 240px; margin: 0 auto; overflow: hidden; padding: 0; border: 0; }

.banner a         { color: #eeeeee; text-decoration:none; }
.banner a:hover   { color: #ffffff; }
.banner_txt_left  { position:absolute; bottom:0; left:0; display:inline-block; z-index:2; padding: 0 0 20px 36px; }
.banner_txt_right { position:absolute; bottom:0; right:0; display:inline-block; z-index:2; padding: 0 36px 85px 0; }

#bannerfull { position:absolute; bottom:0; left:0; width:100%; height: 240px; background: url(../img/topbg.png) left top repeat; }
#bannerppl  { position:absolute; bottom:0; left:300px; z-index:100; width:121px; height:120px; background: url(../img/topbg2.png) left top no-repeat; }
#bannercsc  { position:absolute; bottom:20px; left:100px; z-index:100; width:135px; height:140px; background: url(../img/csc_inv_140.png) left top no-repeat; }
.bannerfade { position:fixed; left:0; top: 50px; width:100%; height: 8px; background: linear-gradient(rgba(34,34,34,0.8) 0%, rgba(34,34,34,0) 100%); z-index:998; }

.toptitleA { margin:0; padding-bottom: 4px; font-size: 36px; font-weight: bold; text-shadow: 2px 2px rgba(0,0,0,0.3); }
.toptitleB { margin:0; padding-top: 4px; font-size: 20px; font-weight: normal; text-shadow: 2px 2px rgba(0,0,0,0.3); }
.toptitleC { margin:0; font-size: 20px; font-weight: normal; text-shadow: 2px 2px rgba(0,0,0,0.3); }

/* Site footer */
div.footer  { clear: both; width: 100%; margin: 10px 0 0 0; border: 0; padding: 20px 0; padding-top: 15px; background-color: #303030; color: #f0f0f0; text-align: left; font-size: 13px; }
div.footer a { color: #f0f0f0; }
p.copyright { margin-top: 4px; margin-bottom: 4px; font-size: 12px; line-height: 18px; }
p.copyright img     { vertical-align: middle; }
p.copyright a       { color: #f0f0f0; }
p.copyright a:hover { color: #ffffff; }

/* Body text */
p.text { max-width:500px; }
p.caption { font-weight:bold; }
div.caption { font-weight:bold; max-width:320px; margin: 0 auto; padding: 3px 0 20px 0; }

/* Table formatting */
table.developers td { padding: 2px 16px; }
table.developers td:first-child { text-align:right; }
table.developers td:nth-child(2) { text-align: left; }

div.supporters div { padding: 2px 32px; text-align:center; font-size:22px; color:#aaa; }
div.supporters img { height:100px; }

/* Images */
.mp-img       { display:inline-block;vertical-align:middle;background-image: url(../img/sprite.png);background-position: 0 0; background-repeat: no-repeat;text-indent: -99999px;}
.mp-img-fb    { width: 32px;height: 32px;background-position: -77px -10px;}
.mp-img-tweet { width: 32px;height: 32px;background-position: -119px -10px;}
.mp-img-left  { width: 16px;height: 16px;background-position: -16px   0;}
.mp-img-right { width: 16px;height: 16px;background-position: -32px   0;}
.mp-img-leftB { width: 25px;height: 25px;background-position:-160px  -60px;cursor:pointer;}
.mp-img-rightB{ width: 25px;height: 25px;background-position:-181px  -60px;cursor:pointer;}

// Chevron system
@banner_shadow: rgba(0,0,0,0.3);
.chevron_holder { font-size:13px; .chevron { color: #fff !important; } }
.chevron_holder:hover { a.chevron { color: #fff !important; } }
a.chevron       { line-height: 18px; font-weight: bold; padding: 5px 20px 5px 9px; background-image: url(../img/chevron.png); background-repeat: no-repeat; background-position: right center; }
span.chevronsep { margin-left: -14px; padding: 5px 6px; background-image: url(../img/chevron2.png); background-repeat: no-repeat; background-position: right center; }
span.postchevron{ font-size: 12px; font-weight: bold; text-shadow: 2px 2px @banner_shadow; }

// Form labels
span.formlabel { display:inline-block; padding: 3px 0; font-size:19px; color:#777; }
span.formlabel2 { display:inline-block; font-size: 15px; font-weight: bold; width: 90px; padding: 2px 8px; }

// Calendar
table.dcf_calendar { width: 840px; border-collapse: separate; border-spacing:3px; table-layout:fixed; margin:0 auto; }
table.dcf_calendar thead { font-weight: bold; font-size:18px; text-align:center; background-color: @light_blue; }
table.dcf_calendar td { border-width: 1px; padding: 5px; border-style: dotted; border-color: #c0c0c0; vertical-align: top; }
table.dcf_calendar div.cal_day { font-size:26px; margin: 3px; }
table.dcf_calendar div.cal_body { text-align:center; margin: 10px 3px; }
table.dcf_calendar span.cal_number { display:block; font-size:22px; font-weight: bold; color: @dark_purple; }
table.dcf_calendar span.cal_type { display:block; font-size:14px; padding-bottom: 4px; color: @dark_purple; }
table.dcf_calendar td.odd { background-color: @light_blue; }
table.dcf_calendar td.even { background-color: white; }

// Image gallery
div.gallery_item { text-align: center; padding: 5px 5px 26px 5px; }
div.gallery_image .gallery_img { box-shadow: 10px 10px 5px #ccc; transition:all 0.15s ease-out; }
div.gallery_image .gallery_img:hover { transform:translate(6px,6px); box-shadow: 4px 4px 5px #ccc; }
div.gallery_text { margin-top:8px; }
div.gallery_extra { font-size: 13px; padding: 5px; color: #888; }
div.gallery_still .gallery_still_img { box-shadow: 10px 10px 5px #ccc; }
div.image_substitute { display: inline-block; width: 220px; height: 147px; background-color: #e0e0e0; border: 1px solid #aaa; }
div.image_substitute div.mimetype { font-size: 20px; color:#aaa; font-weight: bold; text-align: center; position: relative; top: 50%; transform: translateY(-50%); }
div.moving-obj-files div.gallery_item { height:325px; }
div.scrolling_text_container { width:720px; height:480px; padding:8px; border:1px solid #ddd; border-radius: 7px; overflow:scroll; font-family:monospace; }

// Pager
div.pager { font-size: 18px; text-align:center; }
div.pager span.page { display: inline-block; padding: 0 8px; }

/* Metadata tables */
table.metadata
{
    border: 1px solid #222;
    margin: 8px;
    thead { font-size: 18px; border-bottom: 1px solid #222; }
    td { padding: 4px 24px; }
    .active { background-color: #bbffbb; }
    .superseded { background-color: #ffbbbb; }
}

// Coloured boxes
.csc_blue_box { background-color: @light_blue; }
.grey_box { background-color: #eee; border: 1px solid #ddd; border-radius: 4px; padding: 4px; margin: 10px 0; div.form-section { padding:8px; } }

// Scrollable table
div.scrolltable { .position_relative; display: inline-block; max-width:100%; overflow: hidden; }
div.scrolltable table { table-layout: fixed; }
div.scrolltable_tbody { height: 550px; overflow-y: scroll; overflow-x:scroll; }
div.scrolltable_tbody thead { display: none; }
div.scrolltable_thead { .position_relative; }
div.scrolltable_thead table { border-bottom: 0; }

@media screen and (max-height: 650px)
{
 div.scrolltable_tbody { height: 350px; }
}

// Table styles
table.stripy thead { font-weight: bold; background-color: white; text-align: center; }
table.stripy tbody tr:nth-child( odd) { background-color: #eee; }

table.bordered { border: 2px solid #888; border-collapse:collapse; }
table.bordered2 { border-top: 0; }
table.bordered thead td { border: 1px solid #888; }
table.bordered td { border-left: 1px solid #888; border-right: 1px solid #888; border-top: 0; border-bottom: 0; padding: 8px 6px; }

// Galleries of images, e.g. the charts front page
@img_gallery_width: 400px;
@img_gallery_height: 250px;
@img_framewidth: 3px;
div.overlay_host { .position_relative; display:block; border: 1px solid #c0c0c0; padding: @img_framewidth; box-sizing: content-box; }
.chartsgalleryitem { width:100%; max-width:500px; margin:3px 0; }
.chartsgalleryitem div.overlay_host:before { content:""; display:block; padding-top:62.5%; }
.chartsgalleryitem div.overlay_host { box-sizing:border-box; width:100%; margin:5px auto; }
.chartsgalleryitem div.holder { box-sizing: border-box; padding: @img_framewidth; position:absolute;top:0;left:0;width:100%; overflow:hidden; }
.chartsgalleryitem div.img_overcaption { bottom:@img_framewidth; right:@img_framewidth; }
.chartsgalleryitem img { width:100%; }
.img_overcaption  { background-color:#ddd; }
.img_overcaption  { position:absolute;bottom:0;right:0;width:60%;background-color:rgba(232,232,232,0.9);color:#111;font-size:14px;padding: 8px 12px; border-top: 2px solid #4444ff; }

// FAQs
div.faq_item { margin:16px 8px; background-color: #e4e4e4; border: 1px solid #aaa; border-radius:4px; padding:8px; }
div.faq_question { font-size: 20px; margin: 4px; a { color: @dark_purple; } }
div.faq_answer { border-top: 1px solid #222; padding: 10px; }
div.faq_answer:after { content:""; clear: both; display: table; }