<h2>MeteorPi Projects</h2>

<p class="text">
    Once you've found a few <a href="#what-to-do">planes, satellites and meteors</a> spotted by MeteorPi cameras, you'll
    want to know what else you can see. The activity sheets below guide you through some more advanced activities.
</p>

<ul>
    <li>How many constellations can you spot?</li>
    <li>Can you spot the International Space Station?</li>
    <li>See how the stars move through the night!</li>
    <li>What's the faintest object you can see?</li>
    <li>Can you spot the Moon?</li>
    <li>Why do the constellations change with season?</li>
    <li>See the planets moving!</li>
    <li>Accessing MeteorPi data using Python</li>
</ul>