<search-editor params="search: search, onSearch: searchFiles"></search-editor>

<div data-bind="if: results().length==0 && hasQuery()==true">
    <div class="alert alert-success">
        <p><b>No results found</b></p>

        <p>The query completed, but no files were found matching the constraints you specified. Try altering values in
            the form above and re-running the query.</p>
    </div>
</div>

<div data-bind="if: results().length>0 && pages().length==0">
    <div class="alert alert-success">
        <p data-bind="text: 'Showing all '+results().length+' files.'"></p>
    </div>
</div>
<nav data-bind="if: pages().length>0">
    <ul class="pagination" data-bind="foreach: pages">
        <li data-bind="css:{active: current}"><a href="#"
                                                 data-bind="click: $parent.changePage, text:from+'-'+(to-1), css:{ disabled: current }"></a>
        </li>
    </ul>
</nav>
<table data-bind="if: results().length>0" class="table table-condensed">
    <thead>
    <tr>
        <th>Camera ID</th>
        <th>File Time</th>
        <th>MIME Type</th>
        <th>Semantic Type</th>
        <th>ID (click to download)</th>
    </tr>
    </thead>
    <tbody data-bind="foreach: results">
    <tr>
        <td data-bind="text: camera_id"></td>
        <td data-bind="text: new Date(file_time)"></td>
        <td data-bind="text: mime_type"></td>
        <td data-bind="text: semantic_type"></td>
        <td><a target="_blank" data-bind="text: $parent.filenameForFile($data), attr : {href : $parent.urlForFile($data)}"></a>
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th>Meta Key</th>
                    <th>Meta Value</th>
                </tr>
                </thead>
                <tbody data-bind="foreach: meta">
                <tr>
                    <td data-bind="text: key"></td>
                    <td data-bind="text: type==='date'?new Date(value):value"></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
