<h2 style="margin-bottom:20px;">Search for Meteor Pi images</h2>

<div data-bind="if: hasQuery()==false">
    <p class="text">
        Use the form below to search for images and videos recorded by cameras in the Meteor Pi network.
    </p>

    <p class="text">
        Meteor Pi cameras record two types of images. They record video clips every time they spot an object moving in the sky -- for example, a plane, satellite or meteor. They also take still photographs every 30 seconds which show the gradual movement of the stars.
    </p>
    <p class="text">
        The default settings are chosen to show videos of recent moving objects we have detected.
    </p>
</div>

<search-editor params="search:inputs, onSearch:searchFiles, searchTypes:searchTypes, cameras:cameras">
</search-editor>

<div data-bind="if: results().length==0 && hasQuery()==true">
    <div class="alert alert-success">
        <p><b>No results found</b></p>

        <p>The query completed, but no files were found matching the constraints you specified. Try altering values in
            the form above and re-running the query.</p>
    </div>
</div>

<div data-bind="if: results().length>0 && pages().length==0">
    <div class="alert alert-success">
        <p data-bind="text: 'Showing all '+results().length+' results.'"></p>
    </div>
</div>

<div data-bind="if: results().length>0 && pages().length!=0">
    <div class="alert alert-success">
        <p data-bind="text: 'Showing results '+(firstResultIndex()+1)+' to '+(firstResultIndex()+results().length)+' of '+resultCount()+'.'"></p>
    </div>
</div>

<div style="text-align:center;">

    <div data-bind="if: inputs.searchtype()==searchTypes[1] && results().length>0">
        <div data-bind="foreach: results">
            <div class="results-grid-item">
                <a target="_blank" data-bind="attr : {href : linkurl }">
                <img data-bind="attr: {alt: $parent.filenameForFile($data), src : $parent.urlForFile($data)}"
                     style="width:300px;padding:4px;"/>

                <div data-bind="text: camera_id"></div>
                <div data-bind="text: new Date(file_time)"></div>
                </a>
            </div>
        </div>
    </div>

    <div data-bind="if: (inputs.searchtype()!=searchTypes[1]) && results().length>0">
        <div data-bind="foreach: results">
            <div class="results-grid-item">
                <a target="_blank" data-bind="attr : {href : linkurl }">
                <img data-bind="attr : {alt: imgfname, src : imgURL}"
                     style="width:300px;padding:4px;"/>
                <div data-bind="text: camera_id"></div>
                <div data-bind="text: new Date(event_time)"></div>
                <div data-bind="text: duration"></div>
                </a>
            </div>
        </div>
    </div>

</div>

<div class="navbar paging-holder" data-bind="if: pages().length>1">
    <div class="container paging-nav">
        <div class="navbar">
            <div class="paging-header">Page</div>
            <ul class="nav navbar-nav paging-nav" data-bind="foreach: pages">
                <li data-bind="css:{active: current}"><a href="#"
                                                         data-bind="click: $parent.changePage, text:pageNo, css:{ disabled: current }"></a>
                </li>
            </ul>
        </div>
    </div>
</div>
