<form class="form-horizontal">

    <div data-bind="if: performSearch">
        <button type="submit" class="defaultsink" data-bind="click: performSearch">Search</button>
    </div>
    <div class="row">
        <div class="col-sm-6">

            <div data-bind="if: search.hasOwnProperty('after')">
                <label for="after" class="control-label col-xs-2">From</label>

                <div class="form-group">
                    <input class="form-control" data-bind="kendoDateTimePicker: { value: search.after }" id="after"/>
                </div>
            </div>

            <div data-bind="if: search.hasOwnProperty('before')">
                <label for="before" class="control-label col-xs-2">To</label>

                <div class="form-group">
                    <input class="form-control" data-bind="kendoDateTimePicker: { value: search.before }" id="before"/>
                </div>
            </div>

            <div data-bind="if: search.hasOwnProperty('camera')">
                    <label for="camera_id" class="control-label col-xs-2">Camera</label>

                    <div class="form-group">
                        <select class="form-control" style="max-width:200px;" id="camera_id"
                                data-bind="options: cameras, value: search.camera"></select>
                    </div>
            </div>

            <div data-bind="if: search.hasOwnProperty('skyclarity') && search.searchtype()==searchTypes[0]">
                <div class="form-group">
                    <label for="skyclarity" class="control-label">Sky clarity at least</label>
                    <input id="skyclarity" class="form-control form-inline-number" type="text" data-bind="value: search.skyclarity"/>&nbsp;/100
                </div>
            </div>

        </div>
        <div class="col-sm-6">
            <div data-bind="if: search.hasOwnProperty('searchtype')">
                <div class="form-group">
                    <label for="searchtype" class="control-label col-xs-3">Search&nbsp;for</label>

                    <div class="form-group">
                        <select class="form-control" id="searchtype" style="max-width:200px;"
                                data-bind="options: searchTypes, value: search.searchtype"></select>
                    </div>
                </div>
            </div>

            <div data-bind="if: search.hasOwnProperty('flag_bgsub') && search.searchtype()==searchTypes[0]">
                <div class="form-group">
                    <div class="col-xs-offset-2 col-xs-10">
                        <div class="checkbox">
                            <label><input type="checkbox" data-bind="checked: search.flag_bgsub">Remove light pollution</label>
                        </div>
                    </div>
                </div>
            </div>

            <div data-bind="if: search.hasOwnProperty('flag_highlights') && search.searchtype()==searchTypes[0]">
                <div class="form-group">
                    <div class="col-xs-offset-2 col-xs-10">
                        <div class="checkbox">
                            <label><input type="checkbox" data-bind="checked: search.flag_highlights">Show fewer
                                results</label>
                        </div>
                    </div>
                </div>
            </div>

            <div data-bind="if: search.hasOwnProperty('flag_lenscorr') && search.searchtype()==searchTypes[0]">
                <div class="form-group">
                    <div class="col-xs-offset-2 col-xs-10">
                        <div class="checkbox">
                            <label><input type="checkbox" data-bind="checked: search.flag_lenscorr">Correct lens
                                distortions</label>
                        </div>
                    </div>
                </div>
            </div>

            <div data-bind="if: search.hasOwnProperty('duration_min') && search.searchtype()!=searchTypes[0]">
                <div class="form-group">
                    <label for="minduration" class="control-label col-xs-3">Min&nbsp;duration</label>
                    <input id="minduration" class="form-control form-inline-number" type="text" data-bind="value: search.duration_min"/>&nbsp;seconds

                </div>
            </div>

            <div data-bind="if: search.hasOwnProperty('duration_max') && search.searchtype()!=searchTypes[0]">
                <div class="form-group">
                    <label for="maxduration" class="control-label col-xs-3">Max&nbsp;duration</label>
                    <input id="maxduration" class="form-control form-inline-number" style="width:60px;" type="text" data-bind="value: search.duration_max"/>&nbsp;seconds
                </div>
            </div>


        </div>
    </div>

    <div data-bind="if: performSearch">
        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-10">
                <button type="submit" class="btn btn-primary" data-bind="click: performSearch">Search</button>
            </div>
        </div>
    </div>

</form>

