<h2>How to use MeteorPi</h2>

<ul>
    <li>How to search using web interface</li>
    <li>How to narrow down the search</li>
</ul>

<h3>Is it a bird... is it a plane?</h3>
<p class="text">
    Once you've found a moving object, the next challenge is to work out what it is.
    MeteorPi cameras pick up large numbers of satellites and planes, as well as meteors.
</p>

<p class="text">
    Meteors move much more quickly than planes and satellites, at speeds of over 10 kilometres each second. They are
    usually only visible for a fraction of a second as they burn up.
</p>

<p class="text">
    Planes are often easy to spot because they have flashing lights. They are usually visible for 10-30 seconds, whereas
    meteors are gone in a fraction of a second.
</p>

<p class="text">
    Satellites, like planes, are visible for much longer than meteors &ndash; at least 10-30 seconds. They move at a
    steady speed and maintain a steady brightness.
</p><p class="text">
    The flight paths of satellites are extremely predictable, and so if you think you've found one, you can try looking
    on a website like <a href="https://in-the-sky.org/satpasses.php">In-The-Sky.org</a> to see if you can track down
    which satellite it was.
</p><p class="text">
    Alternatively, why not look up which satellites flew over the UK last night, and see if any MeteorPi cameras picked
    them up?
</p>

<h3>What next?</h3>

<p class="text">
    Once you've started looking at MeteorPi images, you'll want to know what else you can see!
</p><p class="text">
    Why not take a look at our projects, to see what other science you can see?
</p>