<h2>How to use MeteorPi</h2>

<h3>Browsing our data online</h3>
<p class="text">
    To search for images collected by MeteorPi cameras, click on the "Search the Sky" tab at the top of this page.
</p>

<p class="text">
    You need to enter a range of dates to search between. To do this, click on the calendar icon next to the "From" and
    "To" boxes.
</p>

<p class="text">
    The "Min Duration" and "Max Duration" controls let you search for moving objects which were visible for short or
    long periods of time.
    For now, leave these settings untouched and click on "Search".
</p>

<h3>Is it a bird... is it a plane?</h3>

<div style="float:right;">
    <video controls width="450">
        <source src="https://meteorpi.cambridgesciencecentre.org/api/files/content/5ff77596009045d8bf6b96a1995c1607/20151107213909_Bury-Allman_event.mp4" type="video/mp4" />
        Your browser does not support the video tag.
    </video>
    <p class="caption">An example video of a meteor.</p>
</div>

<p class="text">
    Not all the videos contain real moving objects. Sometimes the cameras trigger because of twinkling stars or video
    artifacts.
    Look through until you find a video that shows a moving object. The next challenge is to work out what it is.
    MeteorPi cameras pick up large numbers of satellites and planes, as well as meteors.
</p>

<p class="text">
    Meteors are distinctive, because they move much more quickly than planes and satellites, at speeds of over 10
    kilometres each second. They are
    usually only visible for a fraction of a second as they burn up. To find more meteors, you may want change the "Max
    duration" field to one second and repeat your search.
</p>

<p class="text">
    Planes are often easy to spot because they have flashing lights. They are usually visible for 10-30 seconds, whereas
    meteors are gone in a fraction of a second. If you set the "Min duration" field to 10 or 20 seconds, most of the
    objects you'll see will be planes.
</p>

<p class="text">
    Satellites, like planes, are visible for much longer than meteors &ndash; at least 10-30 seconds. They move at a
    steady speed and they don't have flashing lights.
</p><p class="text">
    The flight paths of satellites are extremely predictable, and so if you think you've found one, you can try looking
    on a website like <a href="https://in-the-sky.org/satpasses.php">In-The-Sky.org</a> to see if you can track down
    which satellite it was.
</p><p class="text">
    Alternatively, why not look up which satellites flew over the UK last night, and see if any MeteorPi cameras picked
    them up?
</p>

<div class="row" style="clear:both;">
    <div class="col-md-6">
            <video controls width="450">
                <source src="https://meteorpi.cambridgesciencecentre.org/api/files/content/28b9b49d3c91494a9621a10dc81a9326/20151109183940_Bury-Allman_event.mp4" type="video/mp4" />
                Your browser does not support the video tag.
            </video>
            <p class="caption">An example video of a plane.</p>
    </div>
    <div class="col-md-6">
            <video controls width="450">
                <source src="https://meteorpi.cambridgesciencecentre.org/api/files/content/d5587a4c2e5940c18c3dbf0ca48e5db4/20151010182540_Bury-Allman_event.mp4" type="video/mp4" />
                Your browser does not support the video tag.
            </video>
            <p class="caption">An example video of a satellite.</p>
    </div>
</div>

<h3 style="clear:both;">What next?</h3>

<p class="text">
    Once you've started looking at MeteorPi images, you'll want to know what else you can see!
</p><p class="text">
    Why not take a look at <a href="#projects">our projects</a>, to see what else you can see?
</p>