
<div class="row">
    <div class="col-md-6" style="padding:8px;">
        <p class="text" style="font-size:18px;">Meteor Pi is a network of cameras set up by Cambridge Science Centre to observe the night sky.</p>

        <p class="text">They record videos of moving objects, including shooting stars, planes and satellites. They also take time lapse photographs through the night showing the movement of the stars.</p>

        <p class="text">All of the images are freely available on this website, and enabling children, amateur astronomers and coders to browse the night sky.</p>

        <p class="text">The images on this page show some of the objects we have picked up in recent weeks. Click on "Search the Skies" to access all the data recorded by Meteor Pi.</p>

        </div>
    <!-- ko foreach: items -->
    <div class="col-md-6" style="padding:8px;">
        <div style="display:inline-block; margin:0 auto; padding:10px; height:370px; overflow:hidden; background-color:#eee; border: 1px solid #ccc;">

            <a data-bind="attr:{href:link}" target="_blank">
                <img data-bind="attr:{src:img}" style="width:400px;height:270px;padding:4px;"/>

                <div class="caption"><span data-bind="text:caption"></span>
                </div>
            </a>
        </div>
    </div>
    <!-- /ko -->
</div>
