#page {
    margin-top: 80px;
}

table.table table.table > tbody > tr > * {
    border: none;
    margin-top: 0px;
    padding-top: 0px;
    padding-right: 20px;
}

table.table table.table > tbody > tr > *:first-child {
    border: none;
    margin-top: 0px;
    padding-top: 0px;
    padding-right: 20px;
    padding-left: 0px;
}

table.table table.table > tbody > tr:last-child > * {
    border: none;
    margin-top: 0px;
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
}

table.table table.table {
    margin-bottom: 0px;
    width: 0px;
}

.defaultsink {
    position: absolute;
    left: -100%;
}

.btn .glyphicon {
    margin-right: 8px;
}

.btn.btn-icon .glyphicon {
    margin-right: 0;
}

.modal {
    display: block;
}

.modal-body:before,
.modal-body:after {
    display: table;
    content: " ";
}

.modal-header:before,
.modal-header:after {
    display: table;
    content: " ";
}

.modal .alert {
    margin-left: 16px;
    margin-right: 16px;
}

.form-value {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
}

.in>.modal {
    display: block !important;
}

.in>.modal.modal-fullsize>.modal-dialog {
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
}

.form-inline-number { width:60px; display:inline-block; }

.file-info { width: auto; }
.file-info td:first-child { font-weight: bold; padding-right:16px; }
 h4 { padding-top: 30px; }

.results-grid-item { display:inline-block; margin: 12px auto; text-align:center; padding:4px; }

/* Tweak navbar colours and spacing */
.paging-holder { margin:0 auto; text-align: center; padding-top:25px; }
.paging-header { vertical-align:middle; display:inline-block; font-size:18px; padding:15px; }
.paging-nav { vertical-align:middle; display:inline-block; float:none; } /* Fix to make navbar centred */

.paging-nav .active { font-weight: bold; display:inline-block;background-color: #eee; }
