#page {
    margin-top: 80px;
}

table.table table.table > tbody > tr > * {
    border: none;
    margin-top: 0px;
    padding-top: 0px;
    padding-right: 20px;
}

table.table table.table > tbody > tr > *:first-child {
    border: none;
    margin-top: 0px;
    padding-top: 0px;
    padding-right: 20px;
    padding-left: 0px;
}

table.table table.table > tbody > tr:last-child > * {
    border: none;
    margin-top: 0px;
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
}

table.table table.table {
    margin-bottom: 0px;
    width: 0px;
}

.defaultsink {
    position: absolute;
    left: -100%;
}

.btn .glyphicon {
    margin-right: 8px;
}

.btn.btn-icon .glyphicon {
    margin-right: 0;
}

.modal {
    display: block;
}

.modal-body:before,
.modal-body:after {
    display: table;
    content: " ";
}

.modal-header:before,
.modal-header:after {
    display: table;
    content: " ";
}

.modal .alert {
    margin-left: 16px;
    margin-right: 16px;
}